<h1>{{ "Utilisateur" | plural : nbSelected }}</h1>

<select [(ngModel)]="nbSelected">
  <option>0</option>
  <option>1</option>
  <option>2</option>
</select>

<select [(ngModel)]="extSelected">
  <option value="">Tous</option>
  @for (ext of extensions ; track ext) {
  <option>{{ ext }}</option>
  }
</select>

<div>
  <input type="text" [(ngModel)]="userIndex">
  @if (errorMessage) {
    <div>{{ errorMessage }}</div>
  }
  <button (click)="scrollToIndex()">Scroll To</button>
</div>

<form (ngSubmit)="createUser(myForm)" #myForm="ngForm">
  @if (myForm.invalid && myForm.submitted) {
    @if (email.hasError('required')) {
      <div>Email obligatoire</div>
    }
    @if (name.hasError('required')) {
      <div>Nom obligatoire</div>
    }
  }
  <label>Email</label>
  <input type="text" name="email" #email="ngModel" ngModel required>

  <label>Nom</label>
  <input type="text" name="name" #name="ngModel" ngModel required>

  <button [ariaBusy]="loading" [disabled]="loading">
    {{ loading ? '' : 'Créer utilisateur' }}
  </button>
</form>

@for (u of users() | extFilter:extSelected ; track u.id) {
  <app-user-card [user]="u" #refUser (eventDelete)="deleteUser($event)">
    <h1 #title>Titre</h1>
    <h2>Sous titre</h2>
  </app-user-card>
}
